.bloc-accueil {
	width: 47%;
	flex-direction: column;
}

.bloc-apropos {
	width: 82%;
	flex-direction: column;
	margin: 15px;
}

.titre {
	background-color: #2596be;
	color: white;
	border-radius: 10px;
	height: 52px;
	font-size: 24px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	position: relative;
	cursor: pointer;
}

.contenu {
	background-color: #f6f6f6;
	padding: 40px 20px;
	margin-top: -10px;
}

.contenu p {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

.hidden {
	display: none;
}

/* =========================================================================================== */
@media screen and (max-width: 780px) {
	.bloc-accueil {
		width: 100%;
		margin: 10px 0;
	}

	.bloc-apropos {
		width: 90%;
		margin: 10px 20px;
	}

	.titre {
		font-size: 13px;
		height: 30px;
	}

	.contenu p {
		font-size: 12px;
	}

	.contenu {
		padding: 20px 10px;
	}
}
