.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 200px 60px 100px 60px;
}

.error strong {
	font-size: 288px;
	font-weight: 700;
	line-height: 263px;
}

.error h2 {
	font-size: 36px;
	font-weight: 500;
	text-align: center;
}

.error h3 {
	font-size: 18px;
	font-weight: 500;
	color: #ff6060;
	text-align: center;
	text-decoration: underline;
	margin-top: 100px;
}

h3:visited {
	color: #2596be;
}

/* =========================================================================================== */
@media screen and (max-width: 780px) {
	.error strong {
		font-size: 96px;
		font-weight: 700;
		line-height: 137px;
	}

	.error h2 {
		font-size: 18px;
		white-space: normal;
	}

	.error h3 {
		font-size: 14px;
	}
}
