.carrousel-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	margin: 40px 7%;
	width: 86%;
}

.picture {
	width: 100%;
	height: auto;
	max-height: 800px;
	border-radius: 25px;
	object-fit: cover;
}

.previous {
	position: absolute;
	cursor: pointer;
	z-index: 10;
	left: 4%;
}

.next {
	position: absolute;
	cursor: pointer;
	z-index: 10;
	right: 4%;
}

.hidden {
	display: none;
}

.carrousel-container p {
	position: absolute;
	font-size: 18px;
	font-weight: 500;
	color: white;
	z-index: 10;
	bottom: 5px;
}

/* =========================================================================================== */
@media screen and (max-width: 780px) {
	.carrousel-container {
		margin: 10px 7%;
	}

	.picture {
		width: 98%;
		min-width: 335px;
		height: 255px;
		border-radius: 10px;
		object-fit: cover;
	}

	.previous {
		width: 12px;
		height: 20px;
		left: 5%;
	}

	.next {
		width: 12px;
		height: 20px;
		right: 5%;
	}

	.carrousel-container p {
		display: none;
	}
}
