.banner {
	display: flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 25px;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

.imgAccueil,
.imgApropos {
	object-fit: cover;
	align-self: center;
	border-radius: 25px;
	width: 86%;
	height: auto;
	min-height: 223px;
}

.banner h1 {
	display: flex;
	justify-content:center;
	align-items:flex-end;
	margin: auto;
	z-index: 10;
	position: absolute;
	bottom: 10px;
	left: 150px;
	color: white;
	font-size: 48px;
	font-weight: 500;
}

/* =========================================================================================== */
@media screen and (max-width: 780px) {
	.imgAccueil,
	.imgApropos {
		min-height: 223px;
		height: 223px;
		border-radius: 10px;
		width: 90%;
	}

	.imgApropos {
		height: 223px;
		border-radius: 10px;
		width: 90%;
	}

	.banner h1 {
		font-size: 24px;
		width: 60%;
		margin-left: 10px;
		margin-right: 70px;
		text-align: left;
	}
}
